@model FeedbackPortal.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedbacks)
        </dt>
        <dd class="col-sm-10">
            @foreach (var feedback in Model.Feedbacks)
            {
                @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
                {
                    <a asp-controller="Products" asp-action="EmployeeViewProduct" asp-route-id="@feedback.ProductId">
                        @feedback.Title
                    </a>
                }
                else { 
                <a asp-controller="Products" asp-action="Details" asp-route-id="@feedback.ProductId">
                    @feedback.Product.Name
                </a>
                }
                <a asp-controller="Feedbacks" asp-action="Details" asp-route-id="@feedback.Id">
                    @feedback.Type
                </a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
