@model FeedbackPortal.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@Model.EmployeeId">@Html.DisplayFor(model => model.Employee.Name)</a>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedbacks)
        </dt>
        <dd class="col-sm-10">
            @foreach (var feedback in Model.Feedbacks)
            {
                <a asp-controller="Clients" asp-action="Details" asp-route-id="@feedback.ClientId">
                    @feedback.Client.Name
                </a> 
                <a asp-controller="Feedbacks" asp-action="Details" asp-route-id="@feedback.Id">
                    @feedback.Type
                </a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
