@model FeedbackPortal.Models.Product

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.Employee.Name)   
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedbacks)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Submitter</th>
                    <th>Title</th>
                    <th>Details</th>
                    <th>Type</th>
                </tr>
                @foreach (var item in Model.Feedbacks)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    </tr>
                 }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>